<!-- Botón que abre el modal -->
<button data-modal-target="registerEventoButtonModal" data-modal-toggle="registerEventoButtonModal" class="inline-flex items-center gap-2 font-semibold rounded-lg cursor-pointer transition-all bg-green-500 text-white px-10 py-3
  border-green-600 border-b-4 hover:brightness-110 hover:-translate-y-px hover:border-b-[6px]
  active:border-b-0.5 active:brightness-90 active:translate-y-0.5" type="button">
  <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 inline-block mr-2" fill="none" viewBox="0 0 24 24"
    stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
  </svg>
  Registrar evento
</button>
<!-- Modal con Flowbite -->
<div id="registerEventoButtonModal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Botón para cerrar -->
      <button type="button"
        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center"
        data-modal-hide="registerEventoButtonModal">
        ✕
      </button>

      <div id="registerModalContent" class="p-6 bg-white rounded-lg">
        <h3 class="text-xl font-semibold text-gray-900 mb-4 text-center">
          Crear cuenta
        </h3>

        <form [formGroup]="eventoForm" (ngSubmit)="registrarEvento()" class="space-y-4">
          <!-- Nombre del evento -->
          <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">Evento</label>
            <input type="text" formControlName="nombre_evento" required placeholder="Nombre del evento"
              class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500" />
            <p class="text-red-500 text-sm mt-1"
              *ngIf="eventoForm.get('nombre_evento')?.invalid && eventoForm.get('nombre_evento')?.touched">
              El nombre del evento es obligatorio y debe tener al menos 3 caracteres.
            </p>
          </div>

          <!-- Tipo de evento -->
          <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">Tipo de evento</label>
            <select formControlName="tipo_evento" required placeholder="Tipo de evento"
              class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500">
              <option value="" disabled selected>Selecciona un tipo de evento</option>
              <option *ngFor="let tipo of tipos_evento" [value]="tipo.value">{{ tipo.label }}</option>
            </select>
            <p class="text-red-500 text-sm mt-1"
              *ngIf="eventoForm.get('tipo_evento')?.invalid && eventoForm.get('tipo_evento')?.touched">
              El tipo de evento es obligatorio.
            </p>
          </div>

          <!-- Nombre del visitante -->
          <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">Nombre del visitante</label>
            <input type="text" formControlName="nombre_visitante" required placeholder="Nombre del visitante"
              class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500" />
            <p class="text-red-500 text-sm mt-1"
              *ngIf="eventoForm.get('nombre_visitante')?.invalid && eventoForm.get('nombre_visitante')?.touched">
              El nombre del visitante es obligatorio y debe tener al menos 3 caracteres.
            </p>
          </div>

          <!-- Fechas -->
          <div>
            <div>
              <label class="block mb-1 text-sm font-medium text-gray-700">Fecha de inicio</label>
              <input type="date" formControlName="fecha_inicio" required
                class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500" />
            </div>
            <div>
              <label class="block mb-1 text-sm font-medium text-gray-700">Fecha de fin</label>
              <input type="date" formControlName="fecha_fin" required
                class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500" />
            </div>
          </div>

          <!-- Horarios -->
          <div>
            <div class="relative">
              <label class="block mb-1 text-sm font-medium text-gray-700">Hora de inicio</label>
              <input type="time" formControlName="hora_inicio" required
                class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500" />
              <p class="text-red-500 text-sm mt-1"
                *ngIf="eventoForm.get('hora_inicio')?.invalid && eventoForm.get('hora_inicio')?.touched">
                La hora de inicio es obligatoria.
              </p>
            </div>
            <div class="relative mt-4">
              <label class="block mb-1 text-sm font-medium text-gray-700">Hora de fin</label>
              <input type="time" formControlName="hora_fin" required
                class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500" />
              <p class="text-red-500 text-sm mt-1"
                *ngIf="eventoForm.get('hora_fin')?.invalid && eventoForm.get('hora_fin')?.touched">
                La hora de fin es obligatoria.
              </p>
            </div>

            <!-- Validación cruzada fecha y hora -->
            <p class="text-red-500 text-sm mt-1"
              *ngIf="eventoForm.errors?.['fechaHoraInvalida'] && (eventoForm.get('fecha_inicio')?.touched || eventoForm.get('fecha_fin')?.touched)">
              La fecha y hora de fin deben ser posteriores a las de inicio.
            </p>
          </div>

          <!-- Lugar -->
          <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">Lugar</label>
            <input type="text" formControlName="lugar" required placeholder="Lugar del evento"
              class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500" />
            <p class="text-red-500 text-sm mt-1"
              *ngIf="eventoForm.get('lugar')?.invalid && eventoForm.get('lugar')?.touched">
              El lugar del evento es obligatorio.
            </p>
          </div>

          <!-- Capacidad -->
          <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">Capacidad</label>
            <input type="number" formControlName="capacidad" required placeholder="Capacidad del evento"
              class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500" />
            <p class="text-red-500 text-sm mt-1"
              *ngIf="eventoForm.get('capacidad')?.invalid && eventoForm.get('capacidad')?.touched">
              La capacidad es obligatoria y debe ser un número positivo.
            </p>
          </div>

          <!-- Costo -->
          <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">Costo</label>
            <input type="number" formControlName="costo" required placeholder="Costo del evento"
              class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500" />
            <p class="text-red-500 text-sm mt-1"
              *ngIf="eventoForm.get('costo')?.invalid && eventoForm.get('costo')?.touched">
              El costo es obligatorio y debe ser mayor a 0.
            </p>
          </div>

          <div
            class="flex justify-center items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
            <button type="submit"
              class="text-white inline-flex items-center bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
              <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                  clip-rule="evenodd"></path>
              </svg>
              Registrar evento
            </button>
            <button data-modal-hide="registerEventoButtonModal" type="button" (click)="onCancel()"
              class="inline-flex items-center gap-2 py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-red-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
              Cancelar
            </button>
          </div>
          
        </form>

        <p *ngIf="message" class="mt-4 text-green-600 text-sm text-center">
          {{ message }}
        </p>
      </div>
    </div>
  </div>
</div>