:host ::ng-deep .dark-calendar .fc .fc-toolbar-title {
  color: #ffffff;
}

:host ::ng-deep .dark-calendar .fc .fc-daygrid-day-number {
  color: #ffffff;
}

:host ::ng-deep .dark-calendar .fc .fc-col-header-cell-cushion {
  color: #ffffff;
}

:host ::ng-deep .dark-calendar .fc {
  --fc-border-color: #ffffff;
}

:host ::ng-deep .dark-calendar .fc .fc-theme-standard td,
:host ::ng-deep .dark-calendar .fc .fc-theme-standard th {
  border-color: #ffffff;
}

/* Light mode */
:host ::ng-deep .light-calendar .fc {
  --fc-border-color: #000000;
}

:host ::ng-deep .light-calendar .fc .fc-theme-standard td,
:host ::ng-deep .light-calendar .fc .fc-theme-standard th {
  border-color: #000000;
}

:host ::ng-deep .fc .ocupacion-baja {
  background-color: rgba(134, 239, 172, 0.80);
}

:host ::ng-deep .fc .ocupacion-media {
  background-color: rgba(250, 204, 21, 0.80);
}

:host ::ng-deep .fc .ocupacion-alta {
  background-color: rgba(251, 146, 60, 0.80);
}

:host ::ng-deep .fc .ocupacion-full {
  background-color: rgba(248, 113, 113, 0.80);
}

